.wrapp{
    display:flex;
    flex-wrap: wrap;
    gap:24px;
    margin-top: 48px;
    width: 100%;
    justify-content: center;    
}

.title{
    font-weight: 500;
    font-size:20px;
    line-height: 24px;
    margin-bottom: 16px; 
    color:var(--text-card);
    text-align: left;
    margin-top: 80px;
}

